---
name: Generate Terraform README Documentation

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

permissions: {}

jobs:
  generate-docs:
    name: Generate Terraform README Documentation
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          persist-credentials: false

      - name: Render Terraform documentation and push changes back to pull request
        uses: terraform-docs/gh-actions@6de6da0cefcc6b4b7a5cbea4d79d97060733093c # v1.4.1
        with:
          working-dir: .
          output-file: README.md
          output-method: inject
          git-push: "true"
